body{
  background-image: url(css.jpg);
  font-size: 15px;
}

h1 {
  font-family: "Verdana", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #023102, 0 0 5px #023102;
}

h3 {
  font-family: "times new roman", serif;
  font-size: 20px;
  font-style: oblique;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #023102, 0 0 5px #023102;
  padding-top: 10px;
}

p {
  color: black;
  font-family: verdana;
  font-size: 15px;
  font-style: normal;
  color:#0d2618;
  border: 1.5px outset #194d30;
  border-radius: 8px;
  background-color:  #fff5e6;
  box-shadow: 5px 5px 5px #194d30;
  padding:20px;
}

ul {
  color:#0d2618;
  font-size: 15px;
  font-style: normal;
  border: 1.5px outset #194d30;
  border-radius: 8px;
  background-color:  #fff5e6;
  box-shadow: 5px 5px 5px #194d30;
  padding:20px;
}

}

a {
  color: #194d30;
  font-size: 15px;
  font-style: normal;
}


img {
  border-radius: 8px;
  border: #194d30 solid 3px;
  box-shadow: 5px 5px 5px #194d30;

}

.seccion1 {
  margin: auto;
  margin-top: 600;
  width: 800px;
  height:200px;
}

#izquierda {
  margin:auto;
  width: 300px;
  height: 200px;
  padding-left: 50px;
  padding-right: 50px;
  float:left;

}
#derecha {
  margin:auto;
  width: 300px;
  height: 200px;
  padding-left: 50px;
  padding-right: 50px;
  float:right;

}
#button {
  background-color: #0e580e;
  opacity: 0.7;
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: center;
  font-size: 15px;
  margin: 2px 2px;
}

.seccion3{
  width: 600px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}
