body {
  font-family: "FreeMono", monospace;
}


ul {
  list-style-type: square;
}

a {
  color: black;
}

h3 {
  border: 1px outset black;
  outline-style: double;
  margin: auto;
  padding: 5px;
  text-align: center;
}
